{
  "arrowParens": "always",
  "printWidth": 100,
  "quoteProps": "consistent",
  "semi": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "importOrder": ["^[^.]", "."],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
