@import "./style.ant.custom.css";

@import "font-awesome/css/font-awesome.min.css";

* {
  font-family: "Segoe UI", Tahoma, sans-serif;
}

h1,
h2,
h3 {
  font-weight: 300;
}

h4,
h5,
h6 {
  font-weight: 400;
}

input {
  width: 135px;
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background-color: rgba(160, 160, 160, 0.6);
  padding: 1px 4px;
  border-radius: 4px;
}

ul {
  list-style: none !important ;
}

html.dark {
  background-color: black;
  color: white;
}

html.light {
  background-color: white;
  color: black;
}

.bodyDiv {
  margin-top: 0px;
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 1px;
  padding-bottom: 12px;
}

.inline {
  display: inline;
}

.title {
  display: inline-block;
  font-size: 2.5em;
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 8px;
}

.subtitle {
  display: inline-block;
  margin-top: 0px;
  margin-left: 40px;
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
}

/* automaton editor */
.automatonEditor {
  /* automaton names can be extremely long */
  word-break: break-word;
}

.automatonEditor__controlButtonDiv button {
  margin: 4px;
  max-width: calc(100vw - 120px);
  overflow-x: hidden;
}

.automatonEditorCanvas {
  cursor: pointer;
}

/* canvas */
.mainCanvas {
  cursor: grab;
}
.divineMode {
  cursor: default;
}

/* top menu */
.topMenu i {
  margin-right: 8px;
}

/* help table */
th {
  text-align: left;
}

.shortShortcutTable th {
  width: 16px;
}

/* settings ui */
.settingsUiMenuColumn {
  display: inline-flex;
  align-content: start;
  margin: 10px;
  margin-top: 0;
}

/* automaton gallery */
.automatonGalleryModal {
  min-height: 71vh;
  max-height: 71vh;
  overflow-y: auto;
}

.automatonOverview {
  border: solid 1px #444;
  cursor: pointer;
  margin: 1px;
}

.automatonPreview {
  display: inline-block;
  margin: 4px;
}

.automatonPreview p {
  margin: 0;
  margin-bottom: 2px;
}

.ant-cascader-dropdown .ant-cascader-menus .ant-cascader-menu {
  height: initial;
}

/* modal override */
.ant-modal-root {
  visibility: hidden;
}

.ant-modal-root.oxModalIsOpen {
  visibility: visible;
}

.ant-modal-root .ant-modal {
  transform: translate(-45vw, -45vh) scale(0);
  transition: 0.4s;
}

.ant-modal-root.oxModalIsOpen .ant-modal {
  transform: translate(0, 0) scale(1);
  transition: 0.4s;
}

.overflowYAuto {
  overflow-y: auto;
}

/* immersive mode and phone mode */
.immersive,
.immersive body,
.immersive .bodyDiv,
.sizeASmall,
.sizeASmall body,
.sizeASmall .bodyDiv,
.sizeBMedium,
.sizeBMedium body,
.sizeBMedium .bodyDiv {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

/* Theme selector */
.headerContainer {
  display: flex;
  justify-content: space-between;
}

.themeSelect {
  margin-left: 8px;
}
